@import "tailwindcss";

.bg-primary {
  background-color:#e1e1dd;
}
.bg-primary-light {
  background-color:#f6f6f5f5;
}

.bg-primary-dark{
  background-color:#d5d1b9;
}

.text-primary {
  color: #503217;
}
.text-primary-light {
  color: #715d4d;
}

.text-primary-light-thin {
  color: #715d4dba;
}

.text-primary-light-thin-hover {
  color: #715d4dba;
  cursor:pointer;
  transition: all 0.3s ease;
}

.text-primary-light-thin-hover:hover {
  color: #503217; /* same as .text-primary */
}

.button-primary {
  background-color: #503217;
  color: #e1e1dd;
}

.brand-btn {
  background-color: #d85b02;
  color: #efefef;
    font-size: 14px;
  padding: 6px 16px;
  border-radius: 15px;
  font-weight: 200;
}

.rounded-25{
  border-radius: 20%;
}